@-moz-document url('about:preferences'),
  url-prefix('about:preferences#'),
  url('about:config'),
  url('about:addons'),
  url('about:profiles'),
  url-prefix('chrome://browser/content/preferences/dialogs/')
{
  :root, dialog {
    --subdialog-font-size: 1em !important;
    --in-content-accent-color: var(--blue-40) !important;
    --in-content-accent-color-active: var(--blue-50) !important;
    --in-content-button-vertical-padding: 0px !important;
    --in-content-button-horizontal-padding: 8px !important;
    --in-content-primary-button-text-color: rgb(255, 255, 255) !important;
    --in-content-primary-button-background: var(--blue-60) !important;
    --in-content-primary-button-background-hover: var(--blue-70) !important;
    --in-content-primary-button-background-active: var(--blue-80) !important;
    --in-content-link-color: var(--blue-40) !important;
    --in-content-link-color-hover: var(--blue-50) !important;
    --in-content-link-color-active: var(--blue-60) !important;
    --in-content-link-color-visited: var(--blue-40) !important;
    --checkbox-checked-color: rgb(255, 255, 255) !important;
    --checkbox-checked-bgcolor: var(--blue-60) !important;
    --checkbox-checked-hover-bgcolor: var(--blue-70) !important;
    --checkbox-checked-active-bgcolor: var(--blue-80) !important;
  }
  
  button {
    font-weight: normal !important;
    min-width: 6.3em !important;
  }
  .close-icon, .back-button, .button-add, .button-save, .button-edit, .button-toggle, .button-delete, .button-reset {
    min-width: unset !important;
  }
  .accessory-button {
    min-width: 150px !important;
  }
  #categories > .category[selected], #categories > .category.selected {
    color: var(--in-content-accent-color) !important
  }
  
  .checkbox-check[checked] {
    background-size: 14px !important;
  }
  
  #label-box:not([native]) {
    font-weight: normal !important;
  }
}

@-moz-document url('about:addons') {
  .back-button, .more-options-button {
    min-width: unset !important;
  }
}
